* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.weather-app {
    width: 100%;
    position: relative;
}

.weather-main {
    padding: 10px;
}

.weather-app-top {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    backdrop-filter: blur(10px); /* blur effect */
    -webkit-backdrop-filter: blur(10px); /* for Safari */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    padding: 10px;
    height: 64px;
    width: 100%;
    z-index: 1000;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    border-color: white;
}


.weather-app-top-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.weather-app-top-title a {
    text-decoration: none;
}

.weather-app-top-title h2 {
    display: flex;
    color: #a044ff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1.1px;
    font-size: 21px;
}

.weather-app-top-title span {
    font-size: 28px;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.weather-app-top-title span:hover {
    background-color: #303036;
}

.xy {
    color: white;
}

.theme-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.theme-div span {
    font-size: 22px;
    cursor: pointer;
    color: white;
}

.sidebar {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
    padding: 10px;
    background-color: #0b090a;
    position: fixed;
    top: 0;
}

.sidebar .close-icon {
    position: absolute;
    top: 15px;
    right: 3px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding: 6px;
    border-radius: 50%;
}

.sidebar .close-icon:hover {
    background-color: #303036;
}

.buttons-div {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 20px;
    width: 100%;
}

.link-button {
    display: flex;
    text-decoration: none;
    align-self: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 6px;
    gap: 8px;
}

.link-button:hover {
    background-color: #303036;
    border-radius: 6px;
}

.link-button span {
    color: #a044ff;
    font-size: 26px;
}

.link-button button {
    font-size: 16px;
    letter-spacing: 1.03px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
    color: white;
}

.weather-show-div {
    margin-top: 60px;
}

.weather-show-div-top {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.weather-show-div-top h2 {
    font-size: 17px;
    letter-spacing: 1.2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #94949e;
}

.weather-show-div-top span {
    color: #94949e;
    cursor: pointer;
}

.weather-show-div h1 {
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    margin-top: 20px;
    letter-spacing: 1.1px;
}

.weather-show-div p {
    padding: 10px;
    color: #94949e;
    margin-top: -10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.weather-div {
    border-radius: 8px;
    background: #6a3093;
    background: -webkit-linear-gradient(
        to right,
        #a044ff,
        #6a3093
    );
    background: linear-gradient(
        to right,
        #a044ff,
        #6a3093
    );
    padding: 10px;
    margin-top: 20px;
    padding-bottom: 16px;
}

.date-place-div {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.date-place-div h1 {
    margin-bottom: 4px;
}

.date-place-div strong {
    margin-top: -14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.celcius-icons-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.celcius-div {
    display: flex;
    margin-top: 20px;
}

.celcius-div img {
    width: 45px;
    height: 45px;
}

.celcius-div h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 36px;
}

.weather-condition {
    margin-top: 45px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.weather-condition div {
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-weight: 300;
}

.weather-condition div strong {
    font-size: 18px;
}

.weather-condition div h4 {
    color: #ffeb3b;
    font-size: 16px;
}

.icons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-div img {
    width: 120px;
    height: 120px;
}

.h-l-div {
    margin-top: -13px;
    display: flex;
    gap: 15px;
}

.h-l-div h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

.website-open {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
}

.website-open h1 {
    display: flex;
    color: #a044ff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1.1px;
    font-size: 20px;
}

.website-open p {
    color: white;
    position: absolute;
    top: 20px;
    right: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1.05px;
}

.tomorrow-title {
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    margin-top: 40px;
    letter-spacing: 1.1px;
}

.next-day-button {
    overflow-x: scroll;
    padding: 10px;
    margin-top: -1px;
    display: flex;
    gap: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.next-day-button::-webkit-scrollbar {
    display: none;
}

.active-date-btn {
    cursor: pointer;
    border-radius: 6px;
    padding: 8px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.default-btn {
    cursor: pointer;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 6px;
}

.tomorrow-div {
    margin-bottom: 20px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.tomorrow-weather-details h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    margin-top: 5px;
    margin-bottom: 20px;
    letter-spacing: 1.1px;
}

.weather-details p {
    color: #303036;
    font-weight: 300;
}

.weather-details-detail {
    display: flex;
    align-items: center;
    gap: 5px;
}

.weather-details-detail strong{
    font-size: 19px;
    color: white;
}

.weather-details-detail h4{
    font-size: 16px;
    color: #ffeb3b;
}


.err-div {
    margin-top: 20px;
    height: 120px;
    border-radius: 8px;
    background: #304352;
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
    background: linear-gradient(to right, #d7d2cc, #304352);
}

.err-details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.err-msg {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.weather-search-div {
    margin-top: 80px;
    display: flex;
    align-items: center;
    background-color: white;
    width: 700px;
    padding: 6px;
    justify-content: space-between;
    border-radius: 50px;
    align-items: center;
}

.weather-search-div input {
    width: 100%;
    font-size: 15px;
    outline: none;
    border: none;
    padding: 4px;
}

.dashboard-search-div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.weather-search-div button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    padding: 7px;
    border-radius: 50px;
}

.weather-search-div button:hover {
    background-color: black;
    color: white;
}

.weather-container {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
}

.weather-title {
    letter-spacing: 1.1px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    color: #fff;
}

.weather-grid {
    display: grid;
    gap: 1.5rem;
}

.weather-card {
    background-color: #1c1c1e;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-card-header {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #a044ff;
    margin-bottom: 0.6rem;
}

.icon {
    margin-top: -2px;
}

.weather-main-value {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.weather-subtext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #b2bec3;
    margin-top: 0.5rem;
}

.weather-extra {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    font-size: 0.85rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #b2bec3;
    gap: 10px;
    margin-top: 20px;
}

.error-msg {
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.other-place-div {
    margin-top: -30px;
    padding: 10px;
}

.other-weather-card {
    background-color: #1c1c1e;
    padding: 1.5rem;
    border-radius: 12px;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.other-weather-card h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.weather-details p {
    color: #94949e;
}

.weather-details strong {
    color: white;
    font-weight: 200;
}

.others-title {
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    margin-top: 20px;
    letter-spacing: 1.1px;
}

.others-place-title {
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    letter-spacing: 1.1px;
}

@media (min-width: 900px) {
    .weather-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 600px) {
    .weather-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width<500px) {
    .sidebar {
        width: 100%;
    }
    .weather-condition {
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }
    .weather-condition div {
        flex-direction: row;
    }
}

@media (width<400px) {
    .celcius-icons-div {
        position: relative;
        flex-direction: column;
    }

    .celcius-div {
        position: absolute;
        left: -5px;
    }
    .icons-div {
        margin-top: 50px;
        position: absolute;
        right: -5px;
    }
    .celcius-div h2 {
        font-size: 36px;
    }
    .weather-condition {
        margin-top: 200px;
    }
}
